# Compiled class files & build directories
target/
build/
bin/
out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Help & log files
HELP.md
*.log
logs/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Database / Local config secrets
application-local.properties
application-local.yml
application-secret.properties
application-secret.yml
.env

# System files
.DS_Store
Thumbs.db
desktop.ini
