<app-nav></app-nav>
<div class="main-content">
  <app-hero></app-hero>
  <div style="position: relative;">
    <img src="assets/team/ondas.png" alt="background wave" style="position: absolute; left: 0; top: -290px; z-index: -1; width: 50%; opacity: 0.8;">
  </div>
  <app-features-section></app-features-section>
  <app-hoteles-carrusel></app-hoteles-carrusel>
  <app-about-section></app-about-section>
  <app-testimonials-section></app-testimonials-section>
  <app-newsletter-section></app-newsletter-section>
  <app-informacion-extra></app-informacion-extra>
</div>
<app-footer></app-footer>